@use './fonts' as *;

*,
*::before,
*::after {
  box-sizing: border-box !important;
}

html {
  font-family: 'Roboto', sans-serif;
  --shadow-extra-sm: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

html.dark {
  --shadow-extra-sm: rgba(255, 255, 255, 0.12) 0px 1px 3px, rgba(255, 255, 255, 0.18) 0px 1px 2px;
}
